<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav class="navbar">
    <span class="navbar-toogle" id="toogle-action">
         <mat-icon>menu</mat-icon> 
    </span>
    <div>
        <span>
            <img class="logo" src="../../assets/img/Logotipo.png" width="40px">
        </span>
        <span class="logo-title">Contactura</span>
    </div>
   
    <ul class="main-nav" id="desktop-menu">
        <li class="nav-links">
            <a routerLink="/contact_list">Contatos</a>
        </li>
        <li class="nav-links">
            <a routerLink="/user_list">Usuários</a>
        </li>     
        <li class="nav-links">
            <a routerLink="/login">Logout</a>
        </li>
    </ul>
</nav>
