<section id="login">
    <mat-card>
        <mat-card-title>
            <div class="logo_grid">
                <span class="logo"><img src="../../assets/img/Logotipo.png" width="80px"></span>
                <span class="font-style">Contactura</span>
            </div>
        </mat-card-title>
        <mat-card-content>
            <form>
                <div>
                    <mat-form-field>
                        <input matInput placeholder="Username" type="text" value="">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Senha" type="text" value="">
                    </mat-form-field>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Cadastre-se</button>
            <button mat-raised-button color="primary">Login</button>
        </mat-card-actions>
    </mat-card>
</section>
