<section id="login">
    <mat-card>
        <mat-card-title>
            <div class="logo_grid">
                <span class="logo">
                    <img src="../../assets/img/Logotipo.png" width="80px" alt="logo">
                </span>
                <span class="font-style">
                    Contactura
                </span>
            </div>
        </mat-card-title>
        <mat-card-content>
            <form [formGroup]="loginForm">
                <div>
                    <mat-form-field>
                        <input matInput placeholder="Email" type="text" value="" formControlName="username">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Senha" type="password" value="" formControlName="password">
                    </mat-form-field>
                </div>
            </form>
        </mat-card-content> 
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="login()">Login</button>
                </mat-card-actions>
    </mat-card>
</section>
