<app-navbar></app-navbar>
<section>
    <div class="title">
        <h1>Cadastrar Novo Contato</h1>
    </div>
</section>
<section>
    <form class="container" [formGroup]="contactForm">
        <div class="col-2">
            <div class="item">
                <label for="nome">Nome:</label>
                <input type="text" name="nome" class="form-control" formControlName="name">
            </div>
            <div class="item">
                <label for="email">Email:</label>
                <input type="text" name="email" class="form-control" formControlName="email">
            </div>
        </div>
            <div class="item">
                <label for="phone">Phone:</label>
                <input type="text" name="phone" class="form-control" formControlName="phone">
            </div>

                <div style="margin-top: 10px;" [ngStyle]="{'display': contact === null ? 'block' : 'none' }">
                    <button mat-raised-button color="primary" (click)="createContact()">Salvar Contato</button>
                </div>
                <div style="margin-top: 10px;" [ngStyle]="{'display': contact !== null ? 'block' : 'none' }">
                    <button mat-raised-button color="primary" (click)="updateContact()">Edit Contato</button>
                </div>
    </form>
</section>