<app-navbar></app-navbar>
<section>
    <mat-card>
        <mat-card-title>Cadastrar Novo Contato</mat-card-title>
        <form>
            <mat-form-field>
                <input matInput placeholder="Nome" name="name" type="text">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Phone" name="phone" type="text">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Email" name="email" type="email">
            </mat-form-field>
        </form>
        <button mat-raised-button (click)="criaContato()" color="primary">
            Salvar Contato
        </button>
    </mat-card>
</section>
